CLOUDFLARE_ACCOUNT_ID=5fb0fecd021df22c60e523bcc6909ecb
CLOUDFLARE_R2_BUCKET_NAME=assignment-files
CLOUDFLARE_R2_PUBLIC_URL=https://pub-8557046cca48459d9643063d35d0e38c.r2.dev
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_D1_DATABASE_NAME=assignment_portal_db
CLOUDFLARE_D1_DATABASE_ID=a71f76cb-8197-4ff4-afcd-c501b3ee0bfa
CLOUDFLARE_API_TOKEN=